:root {
  --primary-background: #0f1012;
}
.carousel-item {
}

.section-wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--primary-background);
}
.bg1 {
  position: relative;
  background: var(--primary-background);
}
body,
html {
  background: var(--primary-background);
}

.fist-item {
  height: 100vh;
  background: var(--primary-background);
}

.title {
  position: relative;
  top: 50px;
  left: 50px;
  width: 65px;
  height: 27px;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}

.title1 {
  position: relative;
  top: 17px;
  left: 150px;
  width: 65px;
  height: 27px;
  font-size: 30px;
  color: #ffffff;
}
.container-principal {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 10%;
}
.container-principal .info {
  align-self: self-start;
  margin-block-start: 13%;
  margin-inline-start: 3%;
}

.container-principal .titleprincipal {
  margin-left: 50%;
  transform: translateX(-50%);
}
.titleprincipal {
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;
}
@media screen and (max-width: 680px) {
  .container-principal .titleprincipal {
    font-size: 30px;
    line-height: 35px;
    margin-left: 20%;
    margin-top: 20%;
    transform: translateX(-10%);
  }
}

.retangle1 {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 300px;
  top: 40px;
  background: #d9d9d9;
  mix-blend-mode: overlay;
  transform: rotate(26.84deg);
}

@media screen and (max-width: 680px) {
  .retangle1 {
    position: absolute;
    width: 100%;
    height: 50%;
    left: 10%;
    top: 20%;
    background: #d9d9d9;
    mix-blend-mode: overlay;
    transform: rotate(26.84deg);
  }
}

.title2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}

@media screen and (max-width: 680px) {
  .title2 {
    position: relative;
    font-size: 30px;
    line-height: 30px;
  }
}

.titlegreen {
  position: relative;
  color: #6afaa3;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

.carousel-caption {
  padding: 0 !important;
}
.captions {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 210px;
}
@media screen and (max-width: 680px) {
  .titlegreen {
    float: right;
    font-size: 30px;
    line-height: 30px;
  }
  .captions {
    position: relative;
    min-height: 100px;
    bottom: 8rem;
  }
  .title2 {
    margin-bottom: 0;
    line-height: 14px;
  }
  .fist-item{
    height: 90vh;
  }
  .fist-item .container-principal .carousel-caption {
    bottom: 120px;
  }
  .container-principal .info {
    margin-top: 30vh;
  }
}

.info {
  display: flex;
  color: #ffffff;
  text-align: left;
  font-size: 19px;
  font-style: normal;
  flex: none;
  align-self: self-end;
}
.end-items {
  display: flex;
  justify-content: flex-end;
  margin-inline: 2rem 6rem;
}
@media screen and (max-width: 680px) {
  .sobremim {
    padding-inline: 0;
  }
  .end-items {
    margin-inline: 2rem 2rem;
  }
}

.positionright {
  padding: 0;
  margin: 0;
  float: right;
}
.contact {
  padding: 0;
  margin: 0;
  float: right;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #ffffff;
  transform: rotate(90deg);
}

@media screen and (max-width: 680px) {
  .contact {
    bottom: 200px;
    left: 33%;
    width: 86px;
    height: 0px;
    transform: rotate(90deg);
    float: right;
  }
}

@media screen and (max-width: 680px) {
  .line1 {
    position: absolute;
    bottom: 130%;
    left: 98%;
    width: 86px;
    height: 0px;
    transform: rotate(90deg);
    float: right;
  }
}

@media screen and (max-width: 680px) {
  .icons {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    position: relative;
    bottom: 60%;
    float: right;
    left: 45%;
  }
}

.informacoes {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 18%;
  top: 12%;
  font-weight: 700;
  font-size: 25px;
  line-height: 65px;
  color: #ffffff;
}
@media screen and (max-width: 680px) {
  .informacoes {
    position: absolute;
    width: 800px;
    height: 261px;
    left: 4%;
    top: 12%;
    font-weight: 400;
    font-size: 25px;
    line-height: 65px;
    color: #ffffff;
  }
}

h3.sobre {
  position: relative;
  font-weight: 700;
  font-size: 25px;
  line-height: 65px;
  color: #ffffff;
  padding-inline-start: 32px;
  margin-top: 2rem;
}

/* @media screen and (max-width: 680px) {
  .sobre {
    position: absolute;
    width: 800px;
    height: 261px;
    left: 12%;
    top: 15%;
    font-weight: 700;
    font-size: 25px;
    line-height: 65px;
    color: #ffffff;
  }
} */
.sobremim {
  padding-inline: 2rem 6rem;
  font-size: 25px;
  color: #ffffff;
  text-align: justify;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-indent: 3em;
  white-space: pre-wrap;
}

.last-8 {
  height: 428px;
}

.qrcode {
  width: 15%;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 680px) {
  .sobremim {
    padding-inline: 2rem;
    font-weight: 300;
    font-size: 1rem;
  }
  .end-items {
    margin-inline: 2rem 2rem;
  }
  .qrcode {
    width: 30%;
    aspect-ratio: 1 / 1;
  }
  .info {
    font-size: 16px;
    font-style: normal;
  }
}

.imgbar1 {
  align-items: center;
  padding: 0px;
  position: absolute;
  align-items: center;
  top: 22%;
  left: 27%;
}
@media screen and (max-width: 480px) {
  .imgbar1 {
    width: 400px;
    padding: 0px;
    position: absolute;
    align-items: center;
    top: 30%;
    left: 2%;
  }
}

.portugues {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 18%;
  top: 20%;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .portugues {
    position: absolute;
    width: 800px;
    height: 261px;
    left: 4%;
    top: 20%;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
  }
}

.bar1 {
  position: absolute;
  width: 40%;
  left: 13%;
  top: 26%;
}
@media screen and (max-width: 480px) {
  .bar1 {
    position: absolute;
    width: 60%;
    left: 3%;
    top: 26%;
  }
}
.espanhol {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 18%;
  top: 30%;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .espanhol {
    position: absolute;
    width: 800px;
    left: 4%;
    top: 30%;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
  }
}

.bar2 {
  position: absolute;
  width: 40%;
  left: 13%;
  top: 36%;
}
@media screen and (max-width: 480px) {
  .bar2 {
    position: absolute;
    width: 60%;
    left: 3%;
    top: 36%;
  }
}

.ingles {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 880px;
  top: 20%;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .ingles {
    position: absolute;
    width: 800px;
    height: 261px;
    left: 57%;
    font-size: 20px;
    color: #ffffff;
  }
}
.bar3 {
  position: absolute;
  width: 40%;
  left: 41%;
  top: 26%;
}
@media screen and (max-width: 480px) {
  .bar3 {
    position: absolute;
    width: 60%;
    left: 36%;
    top: 26%;
  }
}

.formacao {
  position: absolute;
  left: 18%;
  top: 40%;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .formacao {
    position: absolute;
    left: 4%;
    top: 40%;
    color: #ffffff;
  }
}
.exp {
  position: absolute;
  width: 80%;
  left: 11%;
  top: 48%;
  color: #ffffff;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .exp {
    position: absolute;
    width: 94%;
    left: 4%;
    top: 45%;
    color: #ffffff;
    text-align: justify;
    font-size: 15px;
  }
}
.formacao1 {
  position: absolute;
  left: 18%;
  top: 60%;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .formacao1 {
    position: absolute;
    left: 4%;
    top: 58%;
    color: #ffffff;
  }
}

.exp1 {
  position: absolute;
  width: 80%;
  left: 11%;
  top: 68%;
  color: #ffffff;
  text-align: justify;
}
@media screen and (max-width: 480px) {
  .exp1 {
    position: absolute;
    width: 94%;
    left: 4%;
    top: 64%;
    font-size: 15px;
    color: #ffffff;
    text-align: justify;
  }
}

.projects {
  position: absolute;
  width: 50%;
  height: 450px;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}
@media screen and (max-width: 480px) {
  .projects {
    position: absolute;
    width: 400px;
    height: 250px;
    top: 25%;
  }
}

.contact {
  position: absolute;
  bottom: 320px;
  left: 69.5%;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #ffffff;
  transform: rotate(90deg);
}

@media screen and (max-width: 780px) {
  .contact {
    position: relative;
    bottom: 200px;
    left: 33%;
    width: 86px;
    height: 0px;
    transform: rotate(90deg);
    float: right;
  }
  .carousel-indicators {
    bottom: -1rem !important;
  }
}

.icons img {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 780px) {
  .icons {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    position: relative;
    bottom: 60%;
    float: right;
    left: 45%;
  }
}
@media screen and (max-width: 680px) {
  .container-principal .info {
  }
  .section-wrapper {
    height: 100vh;
    background: var(--primary-background);
  }

}
