.bg1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #0f1012;
}
.title {
  position: relative;
  top: 50px;
  left: 50px;
  width: 65px;
  height: 27px;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
}
.title1 {
  position: relative;
  top: 17px;
  left: 150px;
  width: 65px;
  height: 27px;
  font-size: 30px;
  color: #ffffff;
}
.titleprincipal {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 45%;
  top: 40%;
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;
}
.retangle1 {
  position: absolute;
  width: 658.71px;
  height: 730.42px;
  left: 300px;
  top: 40px;
  background: #d9d9d9;
  mix-blend-mode: overlay;
  transform: rotate(26.84deg);
}
.title2 {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 606px;
  height: 65px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #ffffff;
}
.titlegreen {
  position: absolute;
  top: 30%;
  left: 38%;
  color: #6afaa3;
  width: 606px;
  height: 65px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}
.info {
  color: #ffffff;
  text-align: left;
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 19px;
  font-style: normal;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contact {
  position: relative;
  bottom: 320px;
  left: 67.5%;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  color: #ffffff;
  transform: rotate(90deg);
}
.line1 {
  position: relative;
  bottom: 200px;
  left: 21.3%;
  width: 86px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
  float: right;
}
.icons {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 25px;
  position: relative;
  bottom: 100px;
  float: right;
  left: 26%;
  

}

.informacoes {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 18%;
  top: 12%;
  font-weight: 700;
  font-size: 25px;
  line-height: 65px;
  color: #ffffff;
}
.dados {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 280px;
  top: 22%;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.textinfo {
  font-weight: 400;
}
.sobre {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 280px;
  top: 45%;
  font-weight: 700;
  font-size: 25px;
  line-height: 65px;
  color: #ffffff;
}
.sobremim {
  position: absolute;
  width: 70%;
  height: 261px;
  left: 280px;
  top: 53%;
  font-size: 25px;
  color: #ffffff;
  text-align: justify;
  font-weight: 400;
}
.qrcode {
  position: absolute;
  left: 60%;
  top: 12%;
  transform: rotate(-26.84deg);
}
.qr {
  width: 300px;
  height: 300px;
}
.imgbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 60.93px;
  position: absolute;
  width: 980px;
  height: 200px;
  left: 20%;
  top: 40%;
}
.languages {
  position: absolute;
  width: 800px;
  height: 261px;
  left: 18%;
  top: 20%;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #ffffff;
}
.bar1 {
  position: absolute;
  width: 270px;
  height: 15px;
  left: 18%;
  top: 28%;
}
.bar2 {
  position: absolute;
  width: 270px;
  height: 15px;
  left: 18%;
  top: 40%;
}
.ingles{
    position: absolute;
    width: 800px;
    height: 261px;
    left: 880px;
    top: 270px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
}
.bar3 {
    position: absolute;
    width: 270px;
    height: 15px;
    left: 880px;
    top: 325px;
  }
.formacao{
    position: absolute;
    width: 800px;
    height: 261px;
    left: 18%;
    top: 45%;
    font-weight: 700;
    font-size: 25px;
    line-height: 65px;
    color: #ffffff; 
}
.experiencia{
    position: absolute;
    width: 800px;
    height: 861px;
    left: 18%;
    top: 67%;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff; 
    text-align: justify;
}
.exp{
    position: absolute;
    width: 70%;
    height: 261px;
    left: 18%;
    top: 70%;
    font-size: 25px;
    color: #ffffff;
    text-align: justify;
    font-weight: 400;
}
.projects{
    position: absolute;
    width: 980px;
    height: 330px;
    left: 20%;
    top: 25%;}